services:
  postgres:
    image: postgres
    container_name: postgres_case
    command: -c shared_buffers=256MB -c max_connections=200
    ports:
      - 5432:5432
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydatabase
    volumes:
      - pgdata:/var/lib/postgresql
      - ./scripts:/scripts
    shm_size: 1g
    networks:
      - mynetwork
    logging:
      driver: none

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_case
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 5050:80
    networks:
      - mynetwork
    depends_on:
      - postgres

  python-api:
    build:
      context: ./pdf-extraction-api
      dockerfile: Dockerfile
    container_name: python_api_case
    ports:
      - 8000:8000
    networks:
      - mynetwork
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1

volumes:
  pgdata:

networks:
  mynetwork: