.login {
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start;

  width: 250px;
  padding: 2rem;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}