.input-field {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.2s, box-shadow 0.2s;
}

.input-field:focus {
  outline: none;
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.input-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.input-field-container label {
  font-weight: 1000;
  font-size: 20px;
  margin-bottom: 0.25rem;
  color: #000000;
}
